<footer>
    <section class="footer-left">
        <div class="institucional">
            <ul>
                <h4>INSTITUCIONAL</h4>
                <li><a href="">QUEM SOMOS</a></li>
                <li><a href="">CONTATO</a></li>
            </ul>
        </div>
        <div class="category">
            <div>
                <ul>
                    <h4>CATEGORIAS</h4>
                    <li><a href="">CAMPEONATO ARGENTINO</a></li>
                    <li><a href="">CAMPEONATO BRASILEIRO</a></li>
                    <li><a href="">CAMPEONATO ESPANHOL</a></li>
                    <li><a href="">CAMPEONATO FRANCÊS</a></li>
                    <li><a href="">CAMPEONATO INGLÊS</a></li>
                    <li><a href="">CAMPEONATO RUSSO</a></li>
                </ul>
                <ul>
                    <li><a href="">CAMPEONATO MINEIRO</a></li>
                    <li><a href="">CAMPEONATO PAULISTA</a></li>
                    <li><a href="">CAMPEONATO CARIOCA</a></li>
                    <li><a href="">CAMPEONATO CEARENSE </a></li>
                    <li><a href="">CAMPEONATO BAIANO</a></li>
                    <li><a href="">CAMPEONATO GAÚCHO</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="footer-rigth">
        <div>
            <h4>Nos acompanhe nas redes sociais</h4>
            <div class="redes-sociais">
                <a href="https://www.facebook.com" target="_blank"><img src="images/facebook-logo.png" alt="facebook"></a>
                <a href="https://www.instagram.com" target="_blank"><img src="images/Instagram-logo.png" alt="instagram"></a>
                <a href="https://www.twitter.com" target="_blank"><img src="images/twitter-logo.png" alt="twitter"></a>
            </div>
        </div>
        <div>
            <h4 class="pague-com">PAGUE COM</h4>
            <div class="cartoes">
                <img src="images/cartao.png" alt="cartões">
                <img src="images/cartao-mastercard-logo.png" alt="facebook">
                <img src="images/cartao-amex-logo.png">
                <img src="images/cartao-visa-logo.png">
            </div>
        </div>
    </section>
</footer>
</html>