<header>
    <section>
        <div class="logo">
            <img src="images/logo-site.png" alt="logo">
        </div>
        <div class="search">
            <input type="text" name="search" placeholder="O que você procura?">
            <button type="submit"><img src="images/search.png" alt="search"></button>
        </div>
        <div class="user-cart">
            <div>
                <a href=""><img src="images/user.png" alt=""></a>
            </div>
            <div>
                <a href="">Entre ou</a>
                <a href="">Cadastra-se</a>
            </div>
            <div>
                <a href=""><img src="images/carrinho.png" alt=""></a>
            </div>
            <div>
                <a href="">Meu carrinho</a> 
            </div>
        </div>
    </section>
    <section class="menu-categorias">
        <nav>
            <ul>
                <li><a href="#">CAMPEONATO ARGENTINO</a>
                    <ul>
                        <li><a href=""></a></li>
                    </ul>
                </li>
                <li><a href="">CAMPEONATO BRASILEIRO</a>
                    <ul>
                    </ul>
                </li>
                <li><a href="">CAMPEONATO ESPANHOL</a>
                </li>
                <li><a href="">CAMPEONATO FRANCÊS</a>
                </li>
                <li><a href="">CAMPEONATO INGLÊS</a>
                </li>
                <li><a href="">CAMPEONATO RUSSO</a>
                </li>
                <li class="mais"><a href="">MAIS</a>
                </li>
            </ul>
        </nav>
    </section>
</header>
</html>