<%- include('./partials/head')%>
<%- include('./partials/header')%>
<main class="index">
    <section>
        <img src="images/services-header.gif" alt="">
    </section>
</main>
<%- include('./partials/footer'); %>
</html>