@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
    display: flex;
    justify-content: center;
}

header section {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 90px;
    width: 1355px;
    
    background-color: #F2F2F2;
    
    font-family: "Roboto";
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

header .logo img {
    width: 70px;
}

header img {
    width: 40px;
}

header input {
    width: 400px;
    height: 30px;
    
    padding-left: 15px;
}

header button {
    position: relative;
    right: 15px;
    
    width: 130px;
    height: 36px;

    border-radius: 15px;
}

header button img {
    width: auto;
}

header .search {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50%;
    
}

header .user-cart{
    display: flex;
    justify-content: center;
    
    width: 25%;
    
}
header .user-cart div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-right: 10px;
}

header a {
    color: black;
    font-size: 14px;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header .menu-categorias {
    justify-content: center;
    height: 60px;
    border-bottom: 1px solid;
}

header .menu-categorias nav {
    height: 100%;
}

header .menu-categorias ul {
    display: flex;
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

header .menu-categorias ul li {
    width: 140px;
    text-align: center;
    border-radius: 15px 15px 0 0;
    line-height: initial;
    height: 100%;
    
    display: flex;
    align-items: center;
} header .menu-categorias ul li:hover {
    background: #EAFFDD;
    border-bottom: 3px solid black;
}

header .menu-categorias ul ul {
    display: none;
    position: absolute;
    margin-top: 4px;
    
    left: 0;

    background: #EAFFDD;
    width: 100%;
    height: 350px;
    box-shadow: 0 0 4px rgb(29, 27, 27);
}

header .menu-categorias ul li:hover ul {
    display: block
}